# Node modules
node_modules/
**/node_modules/
api/JCDS-API/node_modules/

logs/
*.log
/api/JCDS-API/logs/
/api/JCDS-API/logs/app.log

dist/
.DS_Store
npm-debug.log*

/.env
/docker-compose.yml

/web/jcds-applicant/Dockerfile
/web/jcds-applicant/nginx.conf

/web/jcds-office/Dockerfile
/web/jcds-office/nginx.conf

web/jcds-office/.env
web/jcds-applicant/.env
/api/JCDS-API/.env

web/jcds-office/config.js
web/jcds-applicant/config.js

api/JCDS-API/public/

uploads/
temp/

